@font-face {
  font-family: 'Montserrat-Light-Alt1';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://github.com/Differentunic/Montserrat-Light-Alt1/blob/main/Montserrat-Light-Alt1.woff2?raw=true) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
