(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
D,
DZcaron,
Eth,
Dcaron,
Dcroat,
Ddotbelow,
Dlinebelow,
Dzcaron,
E,
Eacute,
Ebreve,
Ecaron,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Etilde,
Ezh,
Ezhcaron,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
LJ,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Lj,
Llinebelow,
Lslash,
M,
Mdotbelow,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Eng,
Nj,
Nlinebelow,
Ntilde,
O,
Oacute,
Obreve,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotbelow,
Rinvertedbreve,
Rlinebelow,
S,
Sacute,
Sacutedotaccent,
Saltillo,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Schwa,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tlinebelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
Uring,
Utilde,
Utildeacute,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Iacute_J.loclNLD,
Adieresis.alt,
Udieresis.alt,
Udieresis.ss01.alt,
Aogonek.loclNAV,
Eogonek.loclNAV,
A.ss01,
Aacute.ss01,
Abreve.ss01,
Abreveacute.ss01,
Abrevedotbelow.ss01,
Abrevegrave.ss01,
Abrevehookabove.ss01,
Abrevetilde.ss01,
Acaron.ss01,
Acircumflex.ss01,
Acircumflexacute.ss01,
Acircumflexdotbelow.ss01,
Acircumflexgrave.ss01,
Acircumflexhookabove.ss01,
Acircumflextilde.ss01,
Adblgrave.ss01,
Adieresis.ss01,
Adotbelow.ss01,
Agrave.ss01,
Ahookabove.ss01,
Ainvertedbreve.ss01,
Amacron.ss01,
Aogonek.ss01,
Aring.ss01,
Aringacute.ss01,
Atilde.ss01,
AE.ss01,
AEacute.ss01,
DZcaron.ss01,
Dzcaron.ss01,
E.ss01,
Eacute.ss01,
Ebreve.ss01,
Ecaron.ss01,
Ecedillabreve.ss01,
Ecircumflex.ss01,
Ecircumflexacute.ss01,
Ecircumflexdotbelow.ss01,
Ecircumflexgrave.ss01,
Ecircumflexhookabove.ss01,
Ecircumflextilde.ss01,
Edblgrave.ss01,
Edieresis.ss01,
Edotaccent.ss01,
Edotbelow.ss01,
Egrave.ss01,
Ehookabove.ss01,
Einvertedbreve.ss01,
Emacron.ss01,
Emacronacute.ss01,
Emacrongrave.ss01,
Eogonek.ss01,
Etilde.ss01,
F.ss01,
G.ss01,
Gbreve.ss01,
Gcaron.ss01,
Gcircumflex.ss01,
Gcommaaccent.ss01,
Gdotaccent.ss01,
Gmacron.ss01,
Gstroke.ss01,
I.ss01,
IJ.ss01,
Iacute.ss01,
Iacute_J.loclNLD.ss01,
Ibreve.ss01,
Icircumflex.ss01,
Idblgrave.ss01,
Idieresis.ss01,
Idieresisacute.ss01,
Idotaccent.ss01,
Idotbelow.ss01,
Igrave.ss01,
Ihookabove.ss01,
Iinvertedbreve.ss01,
Imacron.ss01,
Iogonek.ss01,
Itilde.ss01,
J.ss01,
Jacute.ss01,
Jcircumflex.ss01,
LJ.ss01,
M.ss01,
Mdotbelow.ss01,
N.ss01,
NJ.ss01,
Nacute.ss01,
Ncaron.ss01,
Ncircumflexbelow.ss01,
Ncommaaccent.ss01,
Ndotaccent.ss01,
Ndotbelow.ss01,
Eng.ss01,
Nj.ss01,
Nlinebelow.ss01,
Ntilde.ss01,
Q.ss01,
Schwa.ss01,
T.ss01,
Tbar.ss01,
Tcaron.ss01,
Tcedilla.ss01,
Tcommaaccent.ss01,
Tdotbelow.ss01,
Tlinebelow.ss01,
U.ss01,
Uacute.ss01,
Ubreve.ss01,
Ucaron.ss01,
Ucircumflex.ss01,
Udblgrave.ss01,
Udieresis.ss01,
Udotbelow.ss01,
Ugrave.ss01,
Uhookabove.ss01,
Uhorn.ss01,
Uhornacute.ss01,
Uhorndotbelow.ss01,
Uhorngrave.ss01,
Uhornhookabove.ss01,
Uhorntilde.ss01,
Uhungarumlaut.ss01,
Uinvertedbreve.ss01,
Umacron.ss01,
Umacrondieresis.ss01,
Uogonek.ss01,
Uring.ss01,
Utilde.ss01,
Utildeacute.ss01,
W.ss01,
Wacute.ss01,
Wcircumflex.ss01,
Wdieresis.ss01,
Wgrave.ss01,
Y.ss01,
Yacute.ss01,
Ycircumflex.ss01,
Ydieresis.ss01,
Ydotaccent.ss01,
Ydotbelow.ss01,
Ygrave.ss01,
Yhookabove.ss01,
Ymacron.ss01,
Ytilde.ss01,
Z.ss01,
Zacute.ss01,
Zcaron.ss01,
Zdotaccent.ss01,
Zdotbelow.ss01,
Aogonek.loclNAV.ss01,
Eogonek.loclNAV.ss01,
Uogonek.loclNAV.ss01,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcroat,
ddotbelow,
dlinebelow,
dzcaron,
e,
eacute,
ebreve,
ecaron,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
etilde,
schwa,
ezh,
ezhcaron,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
ibreve,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
ij,
imacron,
iogonek,
itilde,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
lj,
llinebelow,
lslash,
m,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
eng,
nj,
nlinebelow,
ntilde,
o,
oacute,
obreve,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotbelow,
rinvertedbreve,
rlinebelow,
s,
sacute,
sacutedotaccent,
saltillo,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tlinebelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
uring,
utilde,
utildeacute,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
iacute_j.loclNLD,
aogonek.loclNAV,
eogonek.loclNAV,
uogonek.loclNAV,
a.ss01,
aacute.ss01,
abreve.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acaron.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adblgrave.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
ahookabove.ss01,
ainvertedbreve.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
aringacute.ss01,
atilde.ss01,
ae.ss01,
aeacute.ss01,
dzcaron.ss01,
e.ss01,
eacute.ss01,
ebreve.ss01,
ecaron.ss01,
ecedillabreve.ss01,
ecircumflex.ss01,
ecircumflexacute.ss01,
ecircumflexdotbelow.ss01,
ecircumflexgrave.ss01,
ecircumflexhookabove.ss01,
ecircumflextilde.ss01,
edblgrave.ss01,
edieresis.ss01,
edotaccent.ss01,
edotbelow.ss01,
egrave.ss01,
ehookabove.ss01,
einvertedbreve.ss01,
emacron.ss01,
emacronacute.ss01,
emacrongrave.ss01,
eogonek.ss01,
etilde.ss01,
schwa.ss01,
f.ss01,
l.ss01,
lacute.ss01,
lcaron.ss01,
lcommaaccent.ss01,
ldot.ss01,
ldotbelow.ss01,
lj.ss01,
llinebelow.ss01,
aogonek.loclNAV.ss01,
eogonek.loclNAV.ss01,
lslash.ss01,
oe.ss01,
t.ss01,
tbar.ss01,
tcaron.ss01,
tcedilla.ss01,
tcommaaccent.ss01,
tdieresis.ss01,
tdotbelow.ss01,
tlinebelow.ss01,
w.ss01,
wacute.ss01,
wcircumflex.ss01,
wdieresis.ss01,
wgrave.ss01,
y.ss01,
yacute.ss01,
ycircumflex.ss01,
ydieresis.ss01,
ydotaccent.ss01,
ydotbelow.ss01,
ygrave.ss01,
yhookabove.ss01,
ymacron.ss01,
ytilde.ss01,
z.ss01,
zacute.ss01,
zcaron.ss01,
zdotaccent.ss01,
zdotbelow.ss01,
T_h,
fi,
fl,
fi.ss01,
fl.ss01,
adieresis.sc.alt,
udieresis.sc.alt,
udieresis.sc.ss01.alt,
a.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adblgrave.sc,
adieresis.sc,
adotbelow.sc,
agrave.sc,
ahookabove.sc,
ainvertedbreve.sc,
adieresis.alt.sc,
amacron.sc,
aogonek.sc,
aring.sc,
aringacute.sc,
atilde.sc,
ae.sc,
aeacute.sc,
b.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccedillaacute.sc,
ccircumflex.sc,
cdotaccent.sc,
d.sc,
eth.sc,
dcaron.sc,
dcroat.sc,
ddotbelow.sc,
dlinebelow.sc,
dzcaron.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecedillabreve.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edblgrave.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
einvertedbreve.sc,
emacron.sc,
emacronacute.sc,
emacrongrave.sc,
eogonek.sc,
etilde.sc,
schwa.sc,
ezh.sc,
ezhcaron.sc,
f.sc,
g.sc,
gacute.sc,
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
gmacron.sc,
gstroke.sc,
h.sc,
hbar.sc,
hbrevebelow.sc,
hcaron.sc,
hcircumflex.sc,
hdotbelow.sc,
i.sc,
idotless.sc,
iacute.sc,
iacute_j.loclNLD.sc,
ibreve.sc,
icircumflex.sc,
idblgrave.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
iinvertedbreve.sc,
ij.sc,
imacron.sc,
iogonek.sc,
itilde.sc,
j.sc,
jacute.sc,
jcircumflex.sc,
k.sc,
kcaron.sc,
kcommaaccent.sc,
kgreenlandic.sc,
l.sc,
lacute.sc,
lcaron.sc,
lcommaaccent.sc,
ldot.sc,
ldotbelow.sc,
lj.sc,
llinebelow.sc,
aogonek.loclNAV.sc,
eogonek.loclNAV.sc,
lslash.sc,
m.sc,
mdotbelow.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncircumflexbelow.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
eng.sc,
nj.sc,
nlinebelow.sc,
ntilde.sc,
o.sc,
oacute.sc,
obreve.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odblgrave.sc,
odieresis.sc,
odieresismacron.sc,
odotaccentmacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
oinvertedbreve.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
oogonek.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
otildedieresis.sc,
otildemacron.sc,
oe.sc,
p.sc,
thorn.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
rdblgrave.sc,
rdotbelow.sc,
rinvertedbreve.sc,
rlinebelow.sc,
s.sc,
sacute.sc,
sacutedotaccent.sc,
saltillo.sc,
scaron.sc,
scarondotaccent.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotaccent.sc,
sdotbelow.sc,
sdotbelowdotaccent.sc,
germandbls.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcommaaccent.sc,
tdieresis.sc,
tdotbelow.sc,
tlinebelow.sc,
u.sc,
uacute.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
udblgrave.sc,
udieresis.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
uinvertedbreve.sc,
umacron.sc,
umacrondieresis.sc,
uogonek.sc,
uring.sc,
utilde.sc,
utildeacute.sc,
v.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wgrave.sc,
x.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
yhookabove.sc,
ymacron.sc,
ytilde.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
zdotbelow.sc,
a.sc.ss01,
aacute.sc.ss01,
abreve.sc.ss01,
abreveacute.sc.ss01,
abrevedotbelow.sc.ss01,
abrevegrave.sc.ss01,
abrevehookabove.sc.ss01,
abrevetilde.sc.ss01,
acaron.sc.ss01,
acircumflex.sc.ss01,
acircumflexacute.sc.ss01,
acircumflexdotbelow.sc.ss01,
acircumflexgrave.sc.ss01,
acircumflexhookabove.sc.ss01,
acircumflextilde.sc.ss01,
adblgrave.sc.ss01,
adieresis.sc.ss01,
adotbelow.sc.ss01,
agrave.sc.ss01,
ahookabove.sc.ss01,
ainvertedbreve.sc.ss01,
amacron.sc.ss01,
aogonek.sc.ss01,
aring.sc.ss01,
aringacute.sc.ss01,
atilde.sc.ss01,
ae.sc.ss01,
aeacute.sc.ss01,
dzcaron.sc.ss01,
e.sc.ss01,
eacute.sc.ss01,
ebreve.sc.ss01,
ecaron.sc.ss01,
ecedillabreve.sc.ss01,
ecircumflex.sc.ss01,
ecircumflexacute.sc.ss01,
ecircumflexdotbelow.sc.ss01,
ecircumflexgrave.sc.ss01,
ecircumflexhookabove.sc.ss01,
ecircumflextilde.sc.ss01,
edblgrave.sc.ss01,
edieresis.sc.ss01,
edotaccent.sc.ss01,
edotbelow.sc.ss01,
egrave.sc.ss01,
ehookabove.sc.ss01,
einvertedbreve.sc.ss01,
emacron.sc.ss01,
emacronacute.sc.ss01,
emacrongrave.sc.ss01,
eogonek.sc.ss01,
etilde.sc.ss01,
schwa.sc.ss01,
f.sc.ss01,
g.sc.ss01,
gbreve.sc.ss01,
gcaron.sc.ss01,
gcircumflex.sc.ss01,
gcommaaccent.sc.ss01,
gdotaccent.sc.ss01,
gmacron.sc.ss01,
gstroke.sc.ss01,
i.sc.ss01,
idotless.sc.ss01,
iacute.sc.ss01,
iacute_j.loclNLD.sc.ss01,
ibreve.sc.ss01,
icircumflex.sc.ss01,
idblgrave.sc.ss01,
idieresis.sc.ss01,
idieresisacute.sc.ss01,
idotbelow.sc.ss01,
igrave.sc.ss01,
ihookabove.sc.ss01,
iinvertedbreve.sc.ss01,
ij.sc.ss01,
imacron.sc.ss01,
iogonek.sc.ss01,
itilde.sc.ss01,
j.sc.ss01,
jacute.sc.ss01,
jcircumflex.sc.ss01,
lj.sc.ss01,
aogonek.loclNAV.sc.ss01,
eogonek.loclNAV.sc.ss01,
uogonek.loclNAV.sc.ss01,
m.sc.ss01,
mdotbelow.sc.ss01,
n.sc.ss01,
nacute.sc.ss01,
ncaron.sc.ss01,
ncircumflexbelow.sc.ss01,
ncommaaccent.sc.ss01,
ndotaccent.sc.ss01,
ndotbelow.sc.ss01,
eng.sc.ss01,
nj.sc.ss01,
nlinebelow.sc.ss01,
ntilde.sc.ss01,
q.sc.ss01,
t.sc.ss01,
tbar.sc.ss01,
tcaron.sc.ss01,
tcedilla.sc.ss01,
tcommaaccent.sc.ss01,
tdieresis.sc.ss01,
tdotbelow.sc.ss01,
tlinebelow.sc.ss01,
u.sc.ss01,
uacute.sc.ss01,
ubreve.sc.ss01,
ucaron.sc.ss01,
ucircumflex.sc.ss01,
udblgrave.sc.ss01,
udieresis.sc.ss01,
udotbelow.sc.ss01,
ugrave.sc.ss01,
uhookabove.sc.ss01,
uhorn.sc.ss01,
uhornacute.sc.ss01,
uhorndotbelow.sc.ss01,
uhorngrave.sc.ss01,
uhornhookabove.sc.ss01,
uhorntilde.sc.ss01,
uhungarumlaut.sc.ss01,
uinvertedbreve.sc.ss01,
umacron.sc.ss01,
umacrondieresis.sc.ss01,
uogonek.sc.ss01,
uring.sc.ss01,
utilde.sc.ss01,
utildeacute.sc.ss01,
w.sc.ss01,
wacute.sc.ss01,
wcircumflex.sc.ss01,
wdieresis.sc.ss01,
wgrave.sc.ss01,
y.sc.ss01,
yacute.sc.ss01,
ycircumflex.sc.ss01,
ydieresis.sc.ss01,
ydotaccent.sc.ss01,
ydotbelow.sc.ss01,
ygrave.sc.ss01,
yhookabove.sc.ss01,
ymacron.sc.ss01,
ytilde.sc.ss01,
z.sc.ss01,
zacute.sc.ss01,
zcaron.sc.ss01,
zdotaccent.sc.ss01,
zdotbelow.sc.ss01,
napostrophe.sc,
ordfeminine,
ordmasculine,
A-cy,
Be-cy,
Ve-cy,
Ge-cy,
Gje-cy,
Gheupturn-cy,
De-cy,
Ie-cy,
Iegrave-cy,
Io-cy,
Zhe-cy,
Ze-cy,
Ii-cy,
Iishort-cy,
Iigrave-cy,
Iishorttail-cy,
Ka-cy,
Kje-cy,
El-cy,
Em-cy,
En-cy,
O-cy,
Pe-cy,
Er-cy,
Es-cy,
Te-cy,
U-cy,
Ushort-cy,
Ef-cy,
Ha-cy,
Che-cy,
Tse-cy,
Sha-cy,
Shcha-cy,
Dzhe-cy,
Softsign-cy,
Hardsign-cy,
Yeru-cy,
Lje-cy,
Nje-cy,
Dze-cy,
E-cy,
Ereversed-cy,
I-cy,
Yi-cy,
Je-cy,
Tshe-cy,
Iu-cy,
Ia-cy,
Dje-cy,
Yat-cy,
Yusbig-cy,
Fita-cy,
Izhitsa-cy,
Ghestroke-cy,
Ghemiddlehook-cy,
Zhedescender-cy,
Zedescender-cy,
Kadescender-cy,
Kaverticalstroke-cy,
Kastroke-cy,
Kabashkir-cy,
Endescender-cy,
Enghe-cy,
Pedescender-cy,
Haabkhasian-cy,
Esdescender-cy,
Tedescender-cy,
Ustrait-cy,
Ustraitstroke-cy,
Hadescender-cy,
Tetse-cy,
Chedescender-cy,
Cheverticalstroke-cy,
Shha-cy,
Shhadescender-cy,
Cheabkhasian-cy,
Chedescenderabkhasian-cy,
Palochka-cy,
Zhebreve-cy,
Kahook-cy,
Enhook-cy,
Entail-cy,
Chekhakassian-cy,
Emtail-cy,
Abreve-cy,
Adieresis-cy,
Aie-cy,
Iebreve-cy,
Schwa-cy,
Schwadieresis-cy,
Zhedieresis-cy,
Zedieresis-cy,
Dzeabkhasian-cy,
Imacron-cy,
Idieresis-cy,
Odieresis-cy,
Obarred-cy,
Obarreddieresis-cy,
Edieresis-cy,
Umacron-cy,
Udieresis-cy,
Uhungarumlaut-cy,
Chedieresis-cy,
Gedescender-cy,
Yerudieresis-cy,
Gestrokehook-cy,
Hahook-cy,
Hastroke-cy,
Reversedze-cy,
Elhook-cy,
Qa-cy,
We-cy,
Semisoftsign-cy,
Ertick-cy,
EnLeftHook-cy,
Eldescender-cy,
De-cy.loclBGR,
El-cy.loclBGR,
Ef-cy.loclBGR,
Ghestroke-cy.loclBSH,
Zedescender-cy.loclBSH,
Esdescender-cy.loclBSH,
Esdescender-cy.loclCHU,
A-cy.ss01,
De-cy.ss01,
Ie-cy.ss01,
Iegrave-cy.ss01,
Io-cy.ss01,
Ii-cy.ss01,
Iishort-cy.ss01,
Iishorttail-cy.ss01,
Iigrave-cy.ss01,
El-cy.ss01,
Er-cy.ss01,
Te-cy.ss01,
U-cy.ss01,
Ushort-cy.ss01,
Ef-cy.ss01,
Softsign-cy.ss01,
Hardsign-cy.ss01,
Yeru-cy.ss01,
Lje-cy.ss01,
Nje-cy.ss01,
Je-cy.ss01,
Yat-cy.ss01,
Tedescender-cy.ss01,
Eltail-cy.ss01,
Abreve-cy.ss01,
Adieresis-cy.ss01,
Aie-cy.ss01,
Iebreve-cy.ss01,
Schwa-cy.ss01,
Schwadieresis-cy.ss01,
Imacron-cy.ss01,
Idieresis-cy.ss01,
Umacron-cy.ss01,
Udieresis-cy.ss01,
Uhungarumlaut-cy.ss01,
Yerudieresis-cy.ss01,
Qa-cy.ss01,
Semisoftsign-cy.ss01,
a-cy,
be-cy,
ve-cy,
ge-cy,
gje-cy,
gheupturn-cy,
de-cy,
ie-cy,
iegrave-cy,
io-cy,
zhe-cy,
ze-cy,
ii-cy,
iishort-cy,
iigrave-cy,
iishorttail-cy,
ka-cy,
kje-cy,
el-cy,
em-cy,
en-cy,
o-cy,
pe-cy,
er-cy,
es-cy,
te-cy,
u-cy,
ushort-cy,
ef-cy,
ha-cy,
che-cy,
tse-cy,
sha-cy,
shcha-cy,
dzhe-cy,
softsign-cy,
hardsign-cy,
yeru-cy,
lje-cy,
nje-cy,
dze-cy,
e-cy,
ereversed-cy,
i-cy,
yi-cy,
je-cy,
tshe-cy,
iu-cy,
ia-cy,
dje-cy,
yat-cy,
yusbig-cy,
fita-cy,
izhitsa-cy,
ghestroke-cy,
ghemiddlehook-cy,
zhedescender-cy,
zedescender-cy,
kadescender-cy,
kaverticalstroke-cy,
kastroke-cy,
kabashkir-cy,
endescender-cy,
enghe-cy,
pedescender-cy,
haabkhasian-cy,
esdescender-cy,
tedescender-cy,
ustrait-cy,
ustraitstroke-cy,
hadescender-cy,
tetse-cy,
chedescender-cy,
cheverticalstroke-cy,
shha-cy,
shhadescender-cy,
cheabkhasian-cy,
chedescenderabkhasian-cy,
palochka-cy,
zhebreve-cy,
kahook-cy,
eltail-cy,
enhook-cy,
entail-cy,
chekhakassian-cy,
emtail-cy,
abreve-cy,
adieresis-cy,
aie-cy,
iebreve-cy,
schwa-cy,
schwadieresis-cy,
zhedieresis-cy,
zedieresis-cy,
dzeabkhasian-cy,
imacron-cy,
idieresis-cy,
odieresis-cy,
obarred-cy,
obarreddieresis-cy,
edieresis-cy,
umacron-cy,
udieresis-cy,
uhungarumlaut-cy,
chedieresis-cy,
gedescender-cy,
yerudieresis-cy,
gestrokehook-cy,
hahook-cy,
hastroke-cy,
reversedze-cy,
elhook-cy,
qa-cy,
we-cy,
semisoftsign-cy,
ertick-cy,
enlefthook-cy,
eldescender-cy,
ve-cy.loclBGR,
ge-cy.loclBGR,
de-cy.loclBGR,
zhe-cy.loclBGR,
ze-cy.loclBGR,
ii-cy.loclBGR,
iishort-cy.loclBGR,
iigrave-cy.loclBGR,
ka-cy.loclBGR,
el-cy.loclBGR,
en-cy.loclBGR,
pe-cy.loclBGR,
te-cy.loclBGR,
che-cy.loclBGR,
tse-cy.loclBGR,
sha-cy.loclBGR,
shcha-cy.loclBGR,
softsign-cy.loclBGR,
hardsign-cy.loclBGR,
iu-cy.loclBGR,
ghestroke-cy.loclBSH,
zedescender-cy.loclBSH,
esdescender-cy.loclCHU,
gje-cy.loclMKD,
be-cy.loclSRB,
a-cy.ss01,
de-cy.ss01,
ie-cy.ss01,
iegrave-cy.ss01,
io-cy.ss01,
ii-cy.ss01,
iishort-cy.ss01,
iishorttail-cy.ss01,
iigrave-cy.ss01,
er-cy.ss01,
te-cy.ss01,
u-cy.ss01,
ushort-cy.ss01,
softsign-cy.ss01,
hardsign-cy.ss01,
yeru-cy.ss01,
lje-cy.ss01,
nje-cy.ss01,
yat-cy.ss01,
abreve-cy.ss01,
adieresis-cy.ss01,
aie-cy.ss01,
iebreve-cy.ss01,
schwa-cy.ss01,
schwadieresis-cy.ss01,
imacron-cy.ss01,
idieresis-cy.ss01,
umacron-cy.ss01,
udieresis-cy.ss01,
uhungarumlaut-cy.ss01,
yerudieresis-cy.ss01,
semisoftsign-cy.ss01,
Delta,
Omega,
mu,
pi,
angstrom,
kelvin,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zero.subs,
zero.sinf,
one.sinf,
two.sinf,
three.sinf,
four.sinf,
five.sinf,
six.sinf,
seven.sinf,
eight.sinf,
nine.sinf,
one.subs,
two.subs,
three.subs,
four.subs,
five.subs,
six.subs,
seven.subs,
eight.subs,
nine.subs,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zero.sups,
one.sups,
two.sups,
three.sups,
four.sups,
five.sups,
six.sups,
seven.sups,
eight.sups,
nine.sups,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.case,
bullet.case,
periodcentered.loclCAT.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
underscore,
hyphen.case,
endash.case,
emdash.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
period.sc,
exclam.sc,
exclamdown.sc,
question.sc,
questiondown.sc,
quotesinglbase.sc,
quotedblbase.sc,
quotedblleft.sc,
quotedblright.sc,
quoteleft.sc,
quoteright.sc,
guillemetleft.sc,
guillemetright.sc,
guilsinglleft.sc,
guilsinglright.sc,
quotedbl.sc,
quotesingle.sc,
periodcentered.sc,
periodcentered.loclCAT.sc,
leftanglebracket-math,
rightanglebracket-math,
figurespace,
hairspace,
punctuationspace,
space,
nbspace,
thinspace,
zerowidthspace,
CR,
.notdef,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
florin,
franc,
guarani,
hryvnia,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sterling,
tenge,
tugrik,
won,
yen,
bulletoperator,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upArrow.case,
rightArrow.case,
downArrow.case,
leftArrow.case,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
literSign,
dagger,
daggerdbl,
estimated,
numero,
at.case,
numero.ss01,
ampersand.sc,
apostrophemod,
commaturnedmod,
doubleprimemod,
firsttonechinese,
fourthtonechinese,
primemod,
ringhalfleft,
ringhalfright,
secondtonechinese,
verticallinelowmod,
verticallinemod,
dieresiscomb,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_dotaccentcomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
caroncomb_dotaccentcomb,
brevecomb,
ringcomb,
ringcomb_acutecomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_dieresiscomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresiscomb.case,
dieresiscomb_gravecomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_dotaccentcomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
caroncomb_dotaccentcomb.case,
brevecomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_dieresiscomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
macroncomb.narrow.case,
dotaccentcomb.i,
ogonekcomb.i,
dieresiscomb.loclVIET,
dotaccentcomb.loclVIET,
gravecomb.loclVIET,
acutecomb.loclVIET,
circumflexcomb.loclVIET,
caroncomb.loclVIET,
brevecomb.loclVIET,
tildecomb.loclVIET,
macroncomb.loclVIET,
hookabovecomb.loclVIET,
dieresiscomb.narrow,
circumflexcomb.narrow,
caroncomb.narrow,
brevecomb.narrow,
tildecomb.narrow,
macroncomb.narrow,
breveinvertedcomb.narrow,
strokeshortcomb.sc,
strokelongcomb.sc,
slashlongcomb.sc,
caroncomb.alt.short,
strokeshortcomb.t,
commaaccentcomb.alt,
brevecomb-cy,
descender-cy,
brevecomb-cy.case,
descender-cy.case,
descender-cy.case.short,
descender-cy.short,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
brevecomb_acutecomb.case,
brevecomb_gravecomb.case,
brevecomb_hookabovecomb.case,
brevecomb_tildecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_hookabovecomb.case,
circumflexcomb_tildecomb.case,
NULL,
Napostrophe,
verticallinelowmodcomb,
prime,
Tdieresis.ss01,
Tdieresis,
verticalbar-cy.case,
verticalbar-cy,
descTail-cy.case,
descTail-cy,
)
